@import "~bootstrap/scss/bootstrap";
body {
  background-color: #eff1f2;
}

.app__add-entry {
  margin-top: 25px;
  border-radius: 8px;
}

.app__add-entry-input {
  width: 30%;
  margin-right: 10px;
  border-radius: 5px;
  border:1px solid;
}

.app__add-entry-error {
  text-align: right;
}

.add-button {
  margin-top:30px;
}

.address-book {
  margin-top: 25px;
}

.address-book-entry {
  border-radius: 8px;
  margin-top: 5px;
}

.address-book-entry__label {
  font-weight: bold;
  margin-right:10px;
}
.address-book-entry__actions {
  margin-top: 10px;
}

.left-margin {
  margin-left: 5px;
}